/* Start Variables */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --second-color: #777;
  --section-padding-top: 100px;
  --section-padding-bottom: 100px;
  --main-transition: 0.3s;
  --section-background: #ececec;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: white;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Components */
.main-title {
  text-transform: uppercase;
  color: black;
  margin: 0 auto 80px;
  border: 2px solid black;
  width: fit-content;
  padding: 10px 20px;
  position: relative;
  transition: 0.5s;
  z-index: 0;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover {
  color: white;
  border-color: white;
  transition-delay: 0.5s;
}
.main-title:hover::before {
  animation: left-cirlce-in 0.5s linear forwards;
  z-index: -1;
}
.main-title:hover::after {
  animation: right-cirlce-in 0.5s linear forwards;
  z-index: -1;
}
.spikes {
  position: relative;
}
.spikes::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 100%;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
.dots {
  position: absolute;
  background-image: url(../images/dots.png);
  background-repeat: no-repeat;
  width: 204px;
  height: 186px;
}
.dots-up {
  right: 0;
  top: 200px;
}
.dots-down {
  bottom: 200px;
  left: 0;
}
/* End Components */

/* Start Header */
header {
  background-color: white;
  position: relative;
  --webkit-box-shadow: 0 0 10px #ddd;
  --moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 50px;
  }
}
header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  header .main-nav {
    margin: auto;
  }
}
header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  color: black;
  padding: 0 30px;
  transition: var(--main-transition);
  position: relative;
  overflow: hidden;
  z-index: 0;
}
@media (max-width: 767px) {
  header .main-nav > li > a {
    padding: 10px;
    font-size: 13px;
    height: 40px;
  }
}
header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
header .main-nav > li > a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
  background-color: #fafafa;
  bottom: 0;
  left: -100%;
  z-index: -1;
  transition: var(--main-transition);
}
header .main-nav > li > a:hover::before,
header .main-nav > li > a:hover::after {
  left: 0;
}
header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  transition: top var(--main-transition), opacity var(--main-transition);
  z-index: -1;
  opacity: 0;
}
@media (max-width: 767px) {
  header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
header .main-nav > li:hover .mega-menu {
  top: 100%;
  opacity: 1;
  z-index: 100;
}
header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  header .mega-menu .image {
    display: none;
  }
}
header .mega-menu .links {
  min-width: 240px;
  flex: 1;
}
header .mega-menu .links li {
  position: relative;
}
header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
header .mega-menu .links li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}
header .mega-menu .links li:hover::before {
  width: 100%;
}
header .mega-menu .links li a {
  color: var(--main-color);
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
}
header .mega-menu .links li a i {
  margin-right: 10px;
}
/* End header */
/* Start landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--section-background);
  z-index: -1;
  transform-origin: top left;
  transform: skewY(-6deg);
}
.landing .container {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 72px);
  padding-bottom: 120px;
}
.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
    letter-spacing: -1.8px;
  }
}
.landing .text p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0;
  color: #666;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}
.landing .image img {
  max-width: 100%;
  width: 600px;
  position: relative;
  animation: up-down 3s linear infinite;
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}
.landing .go-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  color: var(--main-color);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
}

/* End landing */

/* Start Articles */
.articles {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}
.articles .box {
  overflow: hidden;
  border-radius: 6px;
  padding: 5px;
  background-color: white;
  color: black;
  position: relative;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 10%);
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}
.articles .box:hover {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 20%);
  transform: translateY(-15px);
}
.articles .box img {
  width: 100%;
  max-width: 100%;
}
.articles .box .content {
  padding: 20px;
}
.articles .box .content h3 {
  margin: 0;
}
.articles .box p {
  margin-top: 10px;
  color: var(--second-color);
  line-height: 1.5;
  font-weight: normal;
}
.articles .box .info {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e6e6ec;
}
.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .box .info i {
  color: var(--main-color);
}
.articles .box:hover .info i {
  animation: box-arrow 0.7s linear infinite;
}
/* End Articles */

/* Start Gallery */
.gallery {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background-color: var(--section-background);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .box {
  padding: 20px;
  background-color: white;
}
.gallery .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
}
.gallery .box:hover .image::before {
  animation: flashing 0.5s;
}
.gallery .box .image img {
  max-width: 100%;
  transition: transform var(--main-transition);
}
.gallery .box:hover .image img {
  transform: rotate(5deg) scale(1.1);
}
/* End Gallery */

/* Start Features */
.features {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background-color: white;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}
.features .container .box {
  text-align: center;
  border: 1px solid #ccc;
}
.features .box .img-holder {
  position: relative;
  overflow: hidden;
  z-index: 100;
}
.features .box .img-holder::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  z-index: 100;
  transition: 0.5s;
}
.features .box:hover .img-holder::before {
  border-width: 0px 500px 170px 0px;
}
.features .box .img-holder img {
  max-width: 100%;
}
.features .box h2 {
  font-size: 40px;
  color: black;
  margin: 0 auto;
  width: fit-content;
  position: relative;
}
.features .box p {
  padding: 20px;
  margin: 30px 0;
  font-weight: normal;
  color: var(--second-color);
  font-size: 25px;
  line-height: 1.5;
}
.features .box a {
  display: block;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 30px;
  border: 3px solid transparent;
  width: fit-content;
  margin: 0 auto 30px;
  border-radius: 6px;
  transition: var(--main-transition);
}
/* box one */
.features .box.quality .img-holder::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  z-index: 0;
}
.features .box.quality h2::before {
  content: "";
  position: absolute;
  height: 5px;
  background-color: red;
  width: calc(100% - 30px);
  left: 15px;
  bottom: -20px;
}
.features .box.quality a {
  color: #f44036;
  border-color: #f44036;
  background-image: linear-gradient(to right, #f44036 50%, transparent 50%);
  background-position: top right;
  background-size: 200% 100%;
}
/* box two */
.features .box.passion .img-holder::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(3 169 244 / 60%);
  z-index: 0;
}
.features .box.passion h2::before {
  content: "";
  position: absolute;
  height: 5px;
  background-color: #03a9f4;
  border-radius: 6px;
  width: calc(100% - 30px);
  left: 15px;
  bottom: -20px;
}
.features .box.passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background-image: linear-gradient(to right, #03a9f4 50%, transparent 50%);
  background-position: top right;
  background-size: 200% 100%;
}
/* box three */
.features .box.time .img-holder::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 150 136 / 60%);
  z-index: 0;
}
.features .box.time h2::before {
  content: "";
  position: absolute;
  height: 5px;
  background-color: #009688;
  width: calc(100% - 30px);
  left: 15px;
  bottom: -20px;
  border-radius: 6px;
}
.features .box.time a {
  color: #009688;
  border-color: #009688;
  background-image: linear-gradient(to right, #009688 50%, transparent 50%);
  background-position: top right;
  background-size: 200% 100%;
}
/* fill */
.features .box:hover a {
  background-position: top left;
  color: white;
}
/* End Features */

/* Start Testimonials */
.testimonials {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background-color: var(--section-background);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .box {
  padding: 20px;
  background-color: white;
  position: relative;
}
.testimonials .box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: -50px;
  border: 10px solid var(--section-background);
}
.testimonials h3 {
  color: black;
  margin: 0;
}
.testimonials .title {
  color: var(--main-color);
  display: block;
  margin: 8px 0;
}
.testimonials .rate {
  color: black;
}
.testimonials .rate .filled {
  color: #ffc107;
}
.testimonials .box p {
  color: var(--second-color);
  line-height: 1.5;
  margin: 8px 0 0;
}
/* End Testimonials */

/* Start Team */
.team {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background-color: white;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}
.team .box {
  position: relative;
  border-radius: 20px;
  z-index: 1;
}
.team .box::before,
.team .box::after {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% - 60px);
  border-radius: 20px;
  padding-top: 10px;
  top: 0px;
  right: 0;
  background-color: #f3f3f3;
}
.team .box::before {
  z-index: -2;
}
.team .box::after {
  background-color: #e4e4e4;
  width: 0;
  z-index: -1;
  transition: var(--main-transition);
}
.team .box:hover::after {
  width: calc(100% - 60px);
}
.team .box .data {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team .box .data img {
  width: calc(100% - 60px);
  transition: var(--main-transition);
}
.team .box:hover .data img {
  filter: grayscale(100%);
}
.team .box .data .social {
  /* width: 60px; */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.team .box .social a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .box .social i {
  transition: var(--main-transition);
  color: #777;
}
.team .box .social i:hover {
  color: var(--main-color);
}
.team .box .info {
  padding-left: 80px;
}
.team .box .info h3 {
  color: var(--main-color);
  font-size: 22px;
  margin-top: 10px;
  transition: var(--main-transition);
}
.team .box .info p {
  color: black;
  margin: 10px 0;
  transition: var(--main-transition);
}
.team .box:hover .info h3,
.team .box:hover .info p {
  color: var(--second-color);
}
/* End Team */

/* Start Services */
.services {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background-color: var(--section-background);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}
.services .box {
  background-color: white;
  transition: var(--main-transition);
  -webkit-box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),
    0 2px 4px 0 rgb(0 0 0 / 12%);
  -moz-box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  position: relative;
  counter-increment: services;
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
  top: -3px;
  transition: var(--main-transition);
}
.services .box:hover::before {
  width: 100%;
}
.services .box > i {
  color: #d5d5d5;
  display: block;
  text-align: center;
  margin: 40px auto 0;
}
.services .box > h3 {
  font-size: 25px;
  color: var(--main-color);
  text-align: center;
  margin: 20px auto;
}
.services .box .info {
  background-color: #f9f9f9;
  padding: 15px;
  text-align: right;
  position: relative;
}
.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  height: 100%;
  width: 80px;
  background-color: var(--main-color);
  color: white;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  padding-right: 20px;
}
.services .box .info::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50px;
  background-color: #d5d5d5;
  left: 80px;
  top: 0;
  transform: skewX(-30deg);
}
.services .box .info a {
  color: var(--main-color);
}
/* End Services */

/* Start Skills */
.our-skills {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background-color: white;
}
.our-skills .container {
  display: flex;
  align-items: center;
  color: red;
}
@media (max-width: 991px) {
  .our-skills .container img {
    display: none;
  }
}
.our-skills .skills {
  flex: 1;
}
.our-skills .skill {
  margin: 10px 0;
}
.our-skills .skills .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 5px 0;
}
.our-skills .skill h3 span {
  padding: 3px 8px;
  border: 1px solid #777;
  font-size: 15px;
  color: var(--main-color);
}
.our-skills .skill .the-progress {
  height: 30px;
  width: 100%;
  background-color: #eee;
  position: relative;
}
.our-skills .the-progress span {
  display: block;
  height: 100%;
  background-color: var(--main-color);
}
/* End Skills */

/* Start Work-steps */
.work-steps {
  padding: var(--section-padding-top) 0 var(--section-padding-bottom);
  background-color: var(--section-background);
  color: black;
}
.work-steps .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
    gap: 20px;
  }
}
.work-steps .image {
  max-width: 100%;
}
@media (max-width: 991px) {
  .work-steps .container .image {
    margin: 0;
  }
}
.work-steps .box {
  padding: 30px;
  background-color: #f6f5f5;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 2px solid white;
  position: relative;
}
@media (max-width: 991px) {
  .work-steps .box {
    flex-direction: column;
    text-align: center;
  }
}
.work-steps .box::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.05);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  transition: 0.5s;
}
.work-steps .box:hover::before {
  width: 100%;
  height: 100%;
}
.work-steps .box img {
  width: 64px;
  margin-right: 30px;
}
@media (max-width: 991px) {
  .work-steps .box img {
    margin: 0 0 10px;
  }
}
.work-steps .box h3 {
  margin: 0;
  font-size: 22px;
}
.work-steps .box p {
  font-size: 18px;
  margin: 10px 0 0;
  color: var(--second-color);
  line-height: 1.7;
}
/* End Work-steps */

/* Start Events */
.events {
  padding: var(--section-padding-top) 0 var(--section-padding-bottom);
  background-color: white;
  color: black;
  position: relative;
}
.events .container {
  display: flex;
  align-items: center;

  flex-wrap: wrap;
}
.events .container > img {
  width: 450px;
}
@media (max-width: 991px) {
  .events .container > img {
    display: none;
  }
}
.events .info {
  flex: 1;
  text-align: center;
}
.events .info .time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
.events .time .unit {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  margin: 0 5px;
  transition: var(--main-transition);
}
.events .time span {
  display: block;
}
.events .time span:first-child {
  padding: 10px 20px;
  font-size: 35px;
  color: var(--main-color);
  font-weight: bold;
}
.events .time span:last-child {
  font-size: 13px;
  padding: 8px 15px;
  border-top: 1px solid #d4d4d4;
  transition: var(--main-transition);
}
.events .time .unit:hover,
.events .time .unit:hover span:last-child {
  border-color: var(--main-color);
}
.events .info .title {
  margin: 20px auto;
  font-size: 30px;
  font-weight: bold;
}
.events .info .description {
  color: var(--second-color);
  line-height: 1.7;
  font-size: 19px;
}
.events .subscribe {
  width: 100%;
}
.events .subscribe form {
  width: 600px;
  margin: 50px auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  display: flex;
  gap: 20px;
  border-radius: 50px;
}
@media (max-width: 767px) {
  .events .subscribe form {
    max-width: 100%;
    flex-direction: column;
    padding: 20px;
    border-radius: 0;
  }
}
.events .subscribe form input[type="email"] {
  padding: 20px;
  border-radius: 50px;
  flex: 1;
  border: none;
}
@media (max-width: 767px) {
  .events .subscribe form input[type="email"] {
    border-radius: 0;
  }
}
.events .subscribe form input[type="email"]:focus {
  outline: none;
  caret-color: var(--main-color);
}
.events .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}
.events .subscribe form input[type="submit"] {
  padding: 20px;
  background-color: var(--main-color);
  color: white;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  .events .subscribe form input[type="submit"] {
    border-radius: 0;
  }
}
.events .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* End Events */

/* Start Pricing */
.pricing {
  background-color: var(--section-background);
  padding: var(--section-padding-top) 0 var(--section-padding-bottom);
  position: relative;
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  color: black;
  gap: 30px;
}
.pricing .box {
  background-color: white;
  position: relative;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  z-index: 1;
  text-align: center;
}
@media (min-width: 1200px) {
  .pricing .box.popular {
    top: -20px;
  }
}
.pricing .box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  left: 0;
  top: 0;
  transition: var(--main-transition);
  background-color: #f6f6f6;
  z-index: -1;
}
.pricing .box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  right: 0;
  bottom: 0;
  transition: var(--main-transition);
  background-color: #f6f6f6;
  z-index: -1;
}
.pricing .box:hover::before,
.pricing .box:hover::after {
  width: 100%;
}
.pricing .box.box.popular .label {
  position: absolute;
  right: 20px;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: white;
  padding: 10px 10px 45px 10px;
  font-weight: bold;
  font-size: 18px;
  width: 40px;
}
.pricing .box.popular .label::before {
  content: "";
  position: absolute;
  border: 20px solid;
  border-color: transparent transparent white transparent;
  bottom: 0;
  right: 0;
}
.pricing .box .title {
  font-size: 25px;
  font-weight: bold;
  margin: 30px 0;
  letter-spacing: -1px;
}
.pricing .box img {
  width: 80px;
  margin-bottom: 30px;
}
.pricing .box .price {
  margin-bottom: 20px;
}
.pricing .box .amount {
  display: block;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--main-color);
}
.pricing .box .time {
  color: var(--second-color);
}
.pricing .box ul {
  text-align: left;
}
.pricing .box ul li {
  padding: 20px;
  border-top: 1px solid #eee;
}
.pricing .box ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.pricing .box a {
  width: fit-content;
  display: block;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  margin: 30px auto 40px;
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: var(--main-transition);
}
.pricing .box a:hover {
  background-color: var(--main-color-alt);
  border-color: var(--main-color-alt);
  color: white;
}
/* End Pricing */

/* Start Videos */
.videos {
  padding: var(--section-padding-top) 0 var(--section-padding-bottom);
  color: black;
}
.videos .holder {
  display: flex;
  justify-content: center;
  background-color: var(--section-background);
  border: 1px solid #ddd;
}
@media (max-width: 991px) {
  .videos .holder {
    flex-direction: column;
    align-items: center;
  }
}
.videos .holder .list {
  width: 300px;
  background-color: white;
}
.videos .holder .list .name {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
  color: var(--main-color);
  background-color: var(--section-background);
}
.videos .holder .list ul li {
  padding: 20px;
  border-top: 1px solid var(--main-color);
  transition: var(--main-transition);
  cursor: pointer;
}
.videos .holder .list ul li span {
  display: block;
  margin-top: 10px;
  color: var(--second-color);
}
.videos .holder .list ul li:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
.videos .holder .preview {
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.videos .holder .preview img {
  max-width: 100%;
}
.videos .holder .preview .info {
  padding: 20px;
  background-color: white;
  margin-top: 10px;
}
/* End Videos */

/* Start Stats */
.stats {
  color: black;
  padding: var(--section-padding-top) 0 var(--section-padding-bottom);
  background-image: url(../images/stats.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  position: relative;
  z-index: 0;
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 95%);
  z-index: -1;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.stats > h2 {
  font-size: 40px;
  width: fit-content;
  text-align: center;
  margin: 0 auto 50px;
}
.stats .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  position: relative;
  padding: 30px 15px;
}
.stats .box::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  left: 0;
  bottom: 0;
  transition: 0.5s;
}
.stats .box::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  right: 0;
  top: 0;
  transition: 0.5s;
}
.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}
.stats .box i {
  margin: 20px auto 10px;
}
.stats .box .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin: 10px 0 10px;
}
.stats .box .text {
  margin-bottom: 20px;
  color: var(--main-color);
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}
/* End Stats */

/* Start Discount */
.discount {
  color: black;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.discount .image {
  background-image: url(../images/discount-background1.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  animation: change-background 8s linear infinite;
}
.discount .image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}
.discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .content p {
  font-size: 18px;
  line-height: 1.7;
  max-width: 500px;
}
.discount .image img {
  width: 300px;
  max-width: 100%;
}
.discount .form {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.discount .form .input {
  display: block;
  padding: 15px;
  margin-bottom: 25px;
  width: 100%;
  border: none;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
  caret-color: var(--main-color);
}
.discount .form .input:first-child {
  margin-top: 20px;
}
.discount .form textarea.input {
  resize: none;
  height: 200px;
}
.discount .form .input:focus {
  outline: none;
}
.discount .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  transition: var(--main-transition);
}
.discount .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}
.discount .content {
  text-align: center;
  padding: 0 20px;
}
.discount .image .content {
  color: white;
}
.discount .form .content {
  color: black;
}
@media (max-width: 991px) {
  .discount .image {
    flex-basis: 100%;
  }
  .discount .form {
    flex-basis: 100%;
  }
}
@media (min-width: 992px) {
  .discount .image {
    flex-basis: 50%;
  }
  .discount .form {
    flex-basis: 50%;
  }
}
/* End Discount */

/* Start Footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}
.footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
.footer .box .social {
  display: flex;
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.footer .box .text {
  width: 250px;
  color: #b9b9b9;
  line-height: 1.8;
  margin-top: 20px;
}
.footer .box .links li {
  padding: 15px 0;
  position: relative;
  transition: var(--main-transition);
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .box .links li a {
  color: var(--second-color);
  text-transform: capitalize;
  font-size: 17px;
  transition: var(--main-transition);
}
.footer .box .links li a:hover {
  color: white;
}
.footer .box .line {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  color: #b9b9b9;
}

.footer .box .line i {
  color: var(--main-color);
  font-size: 25px;
  margin-right: 20px;
}
.footer .box .info {
  flex: 1;
  line-height: 1.8;
}
.footer .box .info span {
  display: block;
}
.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
.footer .copyright {
  text-align: center;
  margin: 50px 0 0;
  padding: 25px 0;
  border-top: 1px solid #444;
}
@media (max-width: 567px) {
  .footer {
    text-align: center;
  }
  .footer .box .social {
    justify-content: center;
  }
  .footer .box .text {
    margin: 20px auto 0;
  }
  .footer .box .links li {
    width: fit-content;
    margin: 0 auto;
  }
  .footer .box .line {
    flex-direction: column;
    justify-content: flex-end;
  }
  .footer .box .line i {
    margin: 0 0 10px;
  }
}
/* End Footer */

/* Start Animation */
@keyframes up-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes left-cirlce-in {
  50% {
    left: 0;
    height: 12px;
    width: 12px;
  }
  100% {
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}
@keyframes right-cirlce-in {
  50% {
    right: 0;
    height: 12px;
    width: 12px;
  }
  100% {
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}
@keyframes box-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes change-background {
  0%,
  100% {
    background-image: url(../images/discount-background1.jpg);
  }
  50% {
    background-image: url(../images/discount-background2.jpg);
  }
}
/* End Animation */
